* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  min-height: 100%;
  min-width: 100%;
  /* display: flex; */
}

#content {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#content div {
  border: 1px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  /* align-self: center; */
}

.header {
  height: 100px;
}

.main {
  flex: 1;
}

.footer {
  height: 50px;
}
