* {
  margin: 0;
  padding: 0;
  font-family: "JetBrains Mono", monospace;
}

html {
  height: 100%;
  width: 100%;
  display: flex;
}

body {
  /* min-height: 100%; */
  min-width: 100%;
  /* display: flex; */
  background-color: rgba(227, 245, 179, 0.36);
}

#content {
  height: 100vh;
  min-width: 730px;
  display: flex;
  flex-direction: column;
}

#content > div {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  /* align-self: center; */
}

#burger-pic {
  height: 500px;
  border-radius: 50%;
  margin-top: 50px;
}

.header {
  height: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
}

.main {
  flex: 1;
  /* min-height: 600px; */
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  padding: 25px;
}

.menu-container {
  display: grid;
  grid-template-columns: 100px 150px 150px 100px;
  grid-template-rows: repeat(3, 1fr);
  padding: 25px;
}

.map {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.map-header {
  margin-top: 25px;
  margin-bottom: 10px;
}

.home-container,
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hamburger-icon {
  grid-area: 1 / 1 / 2 / 2;
  place-self: center;
}

.hamburger-text {
  grid-area: 1 / 2 / 2 / 6;
  align-self: center;
}

.pizza-icon {
  grid-area: 2 / 5 / 3 / 6;
  place-self: center;
}

.pizza-text {
  grid-area: 2 / 1 / 3 / 5;
  align-self: center;
  justify-self: end;
}

.dessert-icon {
  grid-area: 3 / 1 / 4 / 2;
  place-self: center;
}

.dessert-text {
  grid-area: 3 / 2 / 4 / 6;
  align-self: center;
}

.footer {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.buttons {
  display: flex;
  gap: 15px;
}

.button {
  background-color: inherit;
  border: none;
  appearance: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  transform: scale(1.05);
}

.button:active {
  transform: scale(1.1);
}

.logo {
  width: 200px;
}

.logo img {
  height: 150px;
}

.info {
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.status {
  color: green;
  font-weight: bold;
  font-size: 1.25rem;
}

.call {
  color: rgb(255, 0, 0);
  font-weight: bold;
  font-size: 1.1rem;
}
